<div id="about">
  <article>
    <p>
      Let's face it. Hackernews isn't the most accessible to readers and the visually impaired.
    </p>
    <p>
      So I built this: a front page that is more readable for those of us who have less than perfect eyesite.
    </p>
    <p>
      It's static HTML, uses divs instead of tables, and has few aesthetic choices that get in the way of readability. If you code, you are more than welcome to contribute to the project on <a href="https://github.com/descartez/just-the-links">[github]</a>.
    </p>
    <p>
      You can see more of my stuff on my <a href="https://github.com/descartez">[github]</a>, my <a href="http://descartez.github.io/">[website]</a> or shoot me an email at <a href="mailto:rvanstong@gmail.com">rvanstong@gmail.com</a>. I love to talk about tech and where it is going!
    </p>
  </article>
</div>