<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/application.css">
  <title>Just The Links</title>
</head>
<body>
  <h1 id="title">Just The Links</h1>
  <h2 id="subtitle">Accessible programming news and links from Hackernews, without the peanut gallery.</h2>

  <% @hackernews_entries.each do |e| %>
  <div class="article-link">
    <h5>Title: <%= e.link.title %></h5>
    <p><%= e.voting.score %> points</p>
    <a href="<%= e.link.href %>">[article]</a>
  </div>
  <% end %>
</body>