<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="<%= url('/css/application.css') %>" rel="stylesheet" type="text/css" />
    <title>Just The Links</title>
  </head>
  <body>
    <nav>
      <h1 id="nav-title">Just The Links: <span id="nav-subtitle">Accessible programming news and links from Hackernews<span></h2>
        <ul id='nav-items'>
          <li><a href="/">[main]</a></li>
          <li><a href="/newest">[newest]</a></li>
          <li><a href="/jobs">[jobs]</a></li>
          <li><a href="/about">[about]</a></li>
        </ul>
      </nav>
      <h3><%= @header %></h3>
      <%= yield %>
    </body>