<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="<%= url('/css/application.css') %>" rel="stylesheet" type="text/css" />
    <title>Just The Links</title>
  </head>
  <body>
    <nav id='nav-bar'>
      <h1 id="nav-title">Just The Links: <span id="nav-subtitle">Accessible programming news and links from Hackernews<span></h1>
          <a href="/">[main]</a>
          <a href="/newest">[newest]</a>
          <a href="/jobs">[jobs]</a>
          <a href="/about">[about]</a>
      </nav>
      <h3><%= @header %></h3>
      <%= yield %>
    </body>