nav {
  border: 1px solid grey;
  padding: 5px;
}

#nav-title {
  font-size: 1.2em;
}

#nav-subtitle {
  font-size: 0.9em;
  padding-left: 5px;
}

#articles {
}

.article {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}

.article h5 {
  font-size: 0.9em;
}

.article a {
  font-size: 0.9em;
}