@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  border: 1px solid grey;
  padding: 5px;
}

#nav-title {
  font-size: 1.2em;
}

#nav-items {
  list-style-type: none;
  display: inline-block;
}

#nav-items li {
  float: left;
  margin: 5px;
}

#nav-items li a {
  font-size: 1.em;
}

#nav-subtitle {
  font-size: 0.9em;
  padding-left: 5px;
}

#articles {
}

.article {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}

.article h5 {
  font-size: 0.9em;
}

.article-link {
  font-size: 0.9em;
}